---
eleventyComputed:
  title: "{% if pagination.pageNumber > 0 %}Page {{ pagination.pageNumber + 1 }}{% else %}Homepage{% endif %}"
layout: layouts/base.njk
permalink: /{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}
pagination:
  data: collections.post
  size: 6
  alias: posts
  reverse: true
eleventyNavigation:
  key: Home
  weight: 0
---


  
  <div id="intro" >
    <h1>
    <a href="#" class="logo">{% image "img/logo.jpg", "desc" %}</a>
      <Header>
      {% if site.hero.title %}
        {% if pagination.pageNumber != 0 %}Page {{ pagination.pageNumber + 1 }} | {% endif %}
        {{ site.hero.title }}
      {% else %}
        {{ site.meta.title }}
      {% endif %}
    </h1>
    <p class="hero__description">
      {% if site.hero.description %}
        {{ site.hero.description }}
      {% else %}
        {{ site.meta.description }}
      {% endif %}
    </p>
    </header>
  </div>

<div class="main">  
  {% include "components/postslist-future.njk" %}
</div>
