{% set featuredPages = collections.featuredtech %}
<section>
	<ul>
{% for post in featuredPages %}
		<li>
    <!-- Post -->
      <article class= "post">
      <header>
        <div class="title">
          <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
          <p>{{post.data.description}}</p>
        </div>
        
        <div class="meta">
          <time class="published" datetime="2015-11-01">{{ post.date | readableDate }}</time>
          <a href="#" class="author"><span class="name">DG</span><img src="images/avatar.jpg" alt="" /></a>
        </div>
      </header>
      <h4><p>{{post.data.abstract}}</p></h4>
      <!--<a href="{{ post.url | url }}" class="image featured">{% image "img/devops-eco.jpg", "desc" %}</a>-->
      <a href="{{ post.url | url }}" class="image featured"><img src="{{post.data.image}}" alt="" /></a>
      <footer>
        <ul class="actions">
          <li><a href="{{ post.url | url }}" class="button large">Continue Reading</a></li>
        </ul>
        <ul class="stats">
          <li><a href="#">General</a></li>
          <li><a href="#" class="icon solid fa-heart">28</a></li>
          <li><a href="#" class="icon solid fa-comment">128</a></li>
        </ul>
      </footer>
     </article>
    </li>
{% endfor %}
  </ul>
</section>

<section id="sidebar">

<!-- Mini Posts -->
<section>
  <div class="mini-posts">
{% for post in posts %}
    <!-- Mini Post -->
      <article class="mini-post">
        <header>
          <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
          <time class="published" datetime="2015-10-20">{{ post.date | readableDate }}</time>
          <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
        </header>
        <a href="{{ post.url | url }}" class="image"><img src="{{post.data.image}}" alt="" /></a>
      </article>
{% endfor %}
</div>
</section>

<!-- Posts List -->
<section>
  <ul class="posts">
    <li>
      <article>
        <header>
          <h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
          <time class="published" datetime="2015-10-20">October 20, 2015</time>
        </header>
        <a href="single.html" class="image"><img src="images/pic08.jpg" alt="" /></a>
      </article>
    </li>
    <li>
      <article>
        <header>
          <h3><a href="single.html">Convallis maximus nisl mattis nunc id lorem</a></h3>
          <time class="published" datetime="2015-10-15">October 15, 2015</time>
        </header>
        <a href="single.html" class="image"><img src="images/pic09.jpg" alt="" /></a>
      </article>
    </li>
    <li>
      <article>
        <header>
          <h3><a href="single.html">Euismod amet placerat vivamus porttitor</a></h3>
          <time class="published" datetime="2015-10-10">October 10, 2015</time>
        </header>
        <a href="single.html" class="image"><img src="images/pic10.jpg" alt="" /></a>
      </article>
    </li>
    <li>
      <article>
        <header>
          <h3><a href="single.html">Magna enim accumsan tortor cursus ultricies</a></h3>
          <time class="published" datetime="2015-10-08">October 8, 2015</time>
        </header>
        <a href="single.html" class="image"><img src="images/pic11.jpg" alt="" /></a>
      </article>
    </li>
    <li>
      <article>
        <header>
          <h3><a href="single.html">Congue ullam corper lorem ipsum dolor</a></h3>
          <time class="published" datetime="2015-10-06">October 7, 2015</time>
        </header>
        <a href="single.html" class="image"><img src="images/pic12.jpg" alt="" /></a>
      </article>
    </li>
  </ul>
</section>


